In [1]:
    # import the data from the xlsx file from drafts folder
import pandas as pd
df = pd.read_excel('data_sample.xlsx')
df.head()

,TRNS_TYPE_CODE,TRNS_SERIAL,INVOICE_NO,INVOICE_DATE,INVOICE_TIME,INSERT_USER,USER_NAME,STORE_CODE,STORE_NAME,CUSTOMER_CODE,...,ITEM_NAME,ITEM_NAME_E,SALES_PRICE,DISC1_VALUE,SALES_QTY,RETURN_QTY,LIST_RATE,EXPIRY_DATE,THEMAR_CUST_MOBILE,UNIT_COST
0,8102104,175662,81021040175662,01-11-2024,00:15:41,4044,احمد عاطف 4044,100202001021,صيدلية ليمون 21,NaN,...,فيجا 100مجم 4 اقراص,VEGA 100MG TAB 4'S,43.7,0.0,1.0,0,3.0,01-04-2027,NaN,10.00082
1,8102104,175662,81021040175662,01-11-2024,00:15:41,4044,احمد عاطف 4044,100202001021,صيدلية ليمون 21,NaN,...,بنادول نايت حبوب 20 حبه,PANADOL NIGHT CAP 20'S,11.6,0.0,1.0,0,NaN,01-10-2025,NaN,9.47295
2,8102104,175662,81021040175662,01-11-2024,00:15:41,4044,احمد عاطف 4044,100202001021,صيدلية ليمون 21,NaN,...,هيربال بلسم 360 مل انجنايت كولور,HERBAL COND.360ML IGNITE COLOR,18.0,12.6,1.0,0,NaN,01-08-2026,NaN,14.16000
3,8102104,175662,81021040175662,01-11-2024,00:15:41,4044,احمد عاطف 4044,100202001021,صيدلية ليمون 21,NaN,...,هيربال شامبو اجنايت كولور 700 مل,HERBAL SH.700ML IGNITE COLOR,26.0,0.0,1.0,0,NaN,01-02-2027,NaN,20.69000
4,8102104,175662,81021040175662,01-11-2024,00:15:41,4044,احمد عاطف 4044,100202001021,صيدلية ليمون 21,NaN,...,هيربال شامبو اجنايت كولور 700 مل,HERBAL SH.700ML IGNITE COLOR,26.0,0.0,1.0,0,NaN,01-02-2027,NaN,20.69000

In [2]:
# get columns names
df.columns

Index(['TRNS_TYPE_CODE', 'TRNS_SERIAL', 'INVOICE_NO', 'INVOICE_DATE',
       'INVOICE_TIME', 'INSERT_USER', 'USER_NAME', 'STORE_CODE', 'STORE_NAME',
       'CUSTOMER_CODE', 'CUSTOMER_NAME', 'ITEM_GROUP_CODE', 'GROUP_NAME',
       'ITEM_CODE', 'ITEM_NAME', 'ITEM_NAME_E', 'SALES_PRICE', 'DISC1_VALUE',
       'SALES_QTY', 'RETURN_QTY', 'LIST_RATE', 'EXPIRY_DATE',
       'THEMAR_CUST_MOBILE', 'UNIT_COST'],
      dtype='object')

In [3]:
# remove the columns that are not needed TRNS_TYPE_CODE, TRNS_SERIAL, INSERT_USER, STORE_CODE, CUSTOMER_CODE, ITEM_GROUP_CODE, ITEM_CODE, ITEM_NAME
df.drop(['TRNS_TYPE_CODE', 'TRNS_SERIAL', 'INSERT_USER', 'STORE_CODE', 'CUSTOMER_CODE', 'ITEM_GROUP_CODE', 'ITEM_CODE', 'ITEM_NAME'], axis=1, inplace=True)
# fill null values with "Walk-in" in the column CUSTOMER_NAME
df['CUSTOMER_NAME'].fillna('Walk-in', inplace=True)
# fill null values with 0 in the column LIST_RATE
df['LIST_RATE'].fillna(0, inplace=True)

/tmp/ipykernel_43309/1930122363.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CUSTOMER_NAME'].fillna('Walk-in', inplace=True)
/tmp/ipykernel_43309/1930122363.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LIST_RATE'].fillna(0, inplace=True)

In [4]:
# fill null values with "Walk-in" in the column CUSTOMER_NAME
df['CUSTOMER_NAME'].fillna('Walk-in', inplace=True)
# fill null values with 0 in the column LIST_RATE
df['LIST_RATE'].fillna(0, inplace=True)

/tmp/ipykernel_43309/769927188.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LIST_RATE'].fillna(0, inplace=True)

In [5]:
display(df.head())

,INVOICE_NO,INVOICE_DATE,INVOICE_TIME,USER_NAME,STORE_NAME,CUSTOMER_NAME,GROUP_NAME,ITEM_NAME_E,SALES_PRICE,DISC1_VALUE,SALES_QTY,RETURN_QTY,LIST_RATE,EXPIRY_DATE,THEMAR_CUST_MOBILE,UNIT_COST
0,81021040175662,01-11-2024,00:15:41,احمد عاطف 4044,صيدلية ليمون 21,Walk-in,الادوية,VEGA 100MG TAB 4'S,43.7,0.0,1.0,0,3.0,01-04-2027,NaN,10.00082
1,81021040175662,01-11-2024,00:15:41,احمد عاطف 4044,صيدلية ليمون 21,Walk-in,الادوية,PANADOL NIGHT CAP 20'S,11.6,0.0,1.0,0,0.0,01-10-2025,NaN,9.47295
2,81021040175662,01-11-2024,00:15:41,احمد عاطف 4044,صيدلية ليمون 21,Walk-in,المستحضرات,HERBAL COND.360ML IGNITE COLOR,18.0,12.6,1.0,0,0.0,01-08-2026,NaN,14.16000
3,81021040175662,01-11-2024,00:15:41,احمد عاطف 4044,صيدلية ليمون 21,Walk-in,المستحضرات,HERBAL SH.700ML IGNITE COLOR,26.0,0.0,1.0,0,0.0,01-02-2027,NaN,20.69000
4,81021040175662,01-11-2024,00:15:41,احمد عاطف 4044,صيدلية ليمون 21,Walk-in,المستحضرات,HERBAL SH.700ML IGNITE COLOR,26.0,0.0,1.0,0,0.0,01-02-2027,NaN,20.69000

In [ ]:
# calculate the total amount (sum of (SALES_PRICE - DISC1_VALUE) * QUANTITY )for each USER_NAME per CUSTOMER_NAME
df['TOTAL_AMOUNT'] = (df['SALES_PRICE'] - df['DISC1_VALUE']) * df['SALES_QTY'] 
df = df.groupby(['USER_NAME', 'CUSTOMER_NAME'])['TOTAL_AMOUNT'].sum().reset_index()